@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Open Sans;
  font-weight: 300;
  background: #fff;
}

body.done {
  background: red;
}

body,
.done {
  transition: background 5s ease;
}

h1,
h2,
input,
select,
select option {
  font-weight: 300;
}

input,
select,
select option {
  font-family: Open Sans;
  font-size:30px;
  border:0px solid #fff;
  border-bottom: 1px dotted #666;
}

input, select {
  display:block;
  margin-bottom:10px;
}

.name {
  margin-top:15px;
  color: #00949b;
}

.wrap {
  min-height: 100%;
}

.go {
  padding:15px 75px 15px 75px;
  color: #fff;
  font-size: 20px;
  background: #39abb7;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.container {
  margin: 20px 20px 0 20px;
  overflow: auto;
  padding-bottom: 50px;
}

.loading,
.welcome,
.connection-error,
.form,
.footer {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.connection-error,
.welcome,
.form,
.footer {
  display: none;
}

.form h1 {
  font-size:18px;
}

.question {
  margin-bottom: 30px;
  overflow: auto;
  text-align: center;
}

.question .answer {
  display: inline-block;
  float: left;
  cursor: pointer;
}

.question .answer .in {
  padding: 30px 20px;
  border: 1px solid #ccc;
  border-left: 0;
  background: #eee;
}

.question .answer:first-child .in {
  border-left: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.question .answer:last-child .in {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.question .answer .in.selected {
  background: #39abb7;
  color: #fff;
  border-color: #00949b;
  border-left: 1px solid #00949b;
}


.question .answer .in,
.question .answer .in.selected {
  transition : background 0.07s ease;
  transition : color 0.07s ease-out;
}


/* one item */
.answer:first-child:nth-last-child(1) {
    width: 100%;
}

/* two items */
.answer:first-child:nth-last-child(2),
.answer:first-child:nth-last-child(2) ~ .answer {
    width: 50%;
}

/* three items */
.answer:first-child:nth-last-child(3),
.answer:first-child:nth-last-child(3) ~ .answer {
    width: 33.3333%;
}

/* four items */
.answer:first-child:nth-last-child(4),
.answer:first-child:nth-last-child(4) ~ .answer {
    width: 25%;
}

.connection-error {
  line-height: 25px;
  background: #fcffc6;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.counter {
  line-height: 50px;
  font-size:25px;
}

.footer {
  display: none;
  position: relative;
  margin-top: -75px; /* negative value of footer height */
  height: 50px;
  clear: both;
  text-align: center;
  background:#eee;
}

