@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=9a6feb00-f8b3-48aa-b165-798ef59ba4f6&fontids=673817,673808");
@font-face{
font-family:"Neuzeit Office W01 Bold";
src:url("https://s3.amazonaws.com/localdata-static/fonts/neuzeit/bold/bold.eot?#iefix");
src:url("https://s3.amazonaws.com/localdata-static/fonts/neuzeit/bold/bold.eot?#iefix") format("eot"),
    url("https://s3.amazonaws.com/localdata-static/fonts/neuzeit/bold/bold.woff") format("woff"),
    url("https://s3.amazonaws.com/localdata-static/fonts/neuzeit/bold/bold.ttf") format("truetype"),
    url("https://s3.amazonaws.com/localdata-static/fonts/neuzeit/bold/bold.svg#85050462-ab1f-4478-a289-36eed1d3c53f") format("svg");
}

@font-face{
font-family:"NeuzeitOfficeW01-Regular";
src:url("https://s3.amazonaws.com/localdata-static/fonts/neuzeit/regular/regular.eot?#iefix");
src:url("https://s3.amazonaws.com/localdata-static/fonts/neuzeit/regular/regular.eot?#iefix") format("eot"),
    url("https://s3.amazonaws.com/localdata-static/fonts/neuzeit/regular/regular.woff") format("woff"),
    url("https://s3.amazonaws.com/localdata-static/fonts/neuzeit/regular/regular.ttf") format("truetype"),
    url("https://s3.amazonaws.com/localdata-static/fonts/neuzeit/regular/regular.svg#d4cb246e-742d-4269-9f6a-901a050ff03f") format("svg");
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: NeuzeitOfficeW01-Regular, Open Sans, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #fcf5f0;
  color: #6e6663;
}

body.done {
  background: red;
}

body,
.done {
  transition: background 5s ease;
}

h1,
h2,
input,
select,
select option {
  font-weight: 300;
}

h1,
h2 {
  font-family: "Neuzeit Office W01 Bold", Open Sans, Helvetica, sans-serif;
  font-weight: bold;
}

h2 {
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top: 5px solid #fff;
}

input,
select,
select option {
  font-family: Open Sans;
  font-size:30px;
  border:0px solid #fff;
  border-bottom: 1px dotted #666;
}

input, select {
  display:block;
  margin-bottom:10px;
}

.name {
  margin-top:15px;
  color: #00949b;
}

.wrap {
  min-height: 100%;
}


.container {
  margin: 20px auto;
  overflow: auto;
  padding-bottom: 50px;
  max-width:500px;
}

.loading,
.welcome,
.error,
.form,
.footer {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.error,
.welcome,
.form,
.footer {
  display: none;
}

.error,
.connection-error {
  line-height: 25px;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 5px solid #f15a24;
}

.count {
  color: #f15a24;
  font-size: 120px;
  display: block;
}

.footer {
  display: none;
  position: relative;
  margin-top: -75px; /* negative value of footer height */
  height: 50px;
  clear: both;
  text-align: center;
  background:#eee;
}

/* Graphs! */
.graph {
  overflow: auto;
  display: table-cell;
  vertical-align: bottom;
}

.answer {
  width: 110px!important;
  overflow: hidden;
  padding-top: 10px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
}

.number {
  font-family: "Neuzeit Office W01 Bold", Open Sans, Helvetica, sans-serif;
  font-weight: bold;

  color: #58aeff;
  display: block;
  padding-top:10px;
}

.bar {
  transition: height 0.07s ease;
  width: 100px;
  background: #daedff;
  border: 5px solid #58aeff;
}

.box {
  background: #fff;
  border: 6px solid #ffad00;
  color: #ffad00;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;

  font-family: "Neuzeit Office W01 Bold", Open Sans, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 62px;
  letter-spacing: -1px;
  padding: 0px 20px;
}

